body {
  font-family:'HelveticaNeue-UltraLight',
              'Helvetica Neue UltraLight',
              'Helvetica Neue',
              'Open-Light',
              sans-serif;
  background-color: #a89070;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
}

#game-board {
  width:500px;
  height:500px;
  border-radius:10px;
  border:2px solid white;
  background-color:white;
  position:relative;
  z-index:100;
}

#player-block {
  width:30px;
  height:30px;
  border-radius:5px;
  background-color: cadetblue;
  position:relative;
  z-index:800;
  top:420px;
}

#title {
  font-size:32px;
  background-color:#a89070;
  color:white;
  width:100%;
  height:54px;
  position:relative;
  z-index:999;
}

#buffer{
  background-color:#a89070;
  height:60px;
  width:100%;
  position:relative;
  z-index:999;
}

#score {
  font-size:36px;
  color:white;
  font-weight:600;
  padding-top:10px;
  -webkit-text-stroke: 1px white;
}

#level{
  position:relative;
  height: 10px;
  background-color:red;
}

#screen{
  background-color:black;
  width:100%;
  height:100%;
  border-radius:10px;
  position:absolute;
  z-index:999;
}

#start-screen{
  margin-top:70px;
}

#tutorial-header{
  font-size:36px;
  color:white;
  margin-bottom: 20px;
}

#tutorial{
  font-size: 18px;
  color:white;
  width: 400px;
  text-align: left;
}

#play-button{
  margin-top: 36px;
  font-size:28px;
  color:white;
  border:1px solid black;
  width:150px;
  cursor:pointer;
  border-radius:10px;
  padding:10px;
}

#pause-screen{
  margin-top:200px;
}

#pause-label{
  font-size:40px;
  color:white;
}

#resume{
  color:white;
  margin-top:20px;
  font-size:16px;
  cursor:pointer;
  width:80px;
}

#lose-screen{
  margin-top:150px;
}

#score-display-label{
  font-size:40px;
  color:white;
}

#score-display{
  font-size:72px;
  color:white;
}

#retry{
  cursor:pointer;
  margin-top:20px;
  width: 90px;
  height: 90px;
}
#retry-image{
  margin-top:10px;
}

.falling-block{
  width:30px;
  height:30px;
  border-radius:5px;
  border:1px solid white;
  background-color: gray;
  color:white;
  font-size:16px;
  position: absolute;
  cursor:default;
}

.falling-block-text{
  margin-top:4px;
}
